@import './base.css';

#app {
  padding: 0 2rem;
  margin: 0 auto;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

.content-wrapper {
  display: grid;
  grid-template-columns: 1fr min(65ch, 100%) 1fr;
}

.content-wrapper > * {
  grid-column: 2;
}

.full-bleed {
  grid-column: 1/-1;
  width: 100%;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

